.wrapper {
  display: flex;
}

.container {
  /* display: flex; */
  padding: 1rem;
  background-color: rgb(239, 233, 224);
}

.inner_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 700px) {
  .inner_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1100px) {
  .inner_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h1 {
  margin-bottom: 1rem;
}

.image_container {
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
}

.add_to_cart {
  position: relative;
  width: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 7px;
  border: 1px solid gray;
  top: -15px;
  border-radius: 50px;
}

.add_to_cart span{
  color: black;
}

.cartIcon {
  color: rgb(199, 96, 84);
}

.aboutDesserts {
  padding: 1rem;
}

.aboutDesserts p {
  color: gray;
}

.aboutDesserts h5 {
  color: rgb(199, 96, 84);
}

.selected_item {
  border: 1px solid;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

.selected_item h1 {
  color: hsl(14, 86%, 42%);
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div p {
  color: hsl(7, 20%, 60%);
  padding-bottom: 1rem;
}

.emptyCartImageContainer {
  width: 200px;
}
