* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  /* border-radius: 10px; */
}

span {
  display: inline-block;
}
