* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.cartIcon {
  color: rgb(199, 96, 84);
  border: 1px solid;
}
